<!--  
    - Header
-->
<%- include("partials/header.ejs")  %>


<!--  
    - Navbar
-->
<%- include("partials/navbar.ejs")  %>


<!--  
    - User Dashboard
-->
<div class="dashbord">

    <p>User Dashboard</p>

</div>



<!--  
    - Footer
-->
<%- include("partials/footer.ejs")  %> 